body {
    background-color: #032539 ;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
#clubs_header {
    text-align: center;
    padding: 20px;
    color:#FBF3F2;
    margin: top;
    font-size: 4rem;
}
.club-list {
    display: block;
    margin: 0 auto;
    height: 500px;
}
.club-box {
    background-color: #1C768F ;
    width: 60rem;
    height: 3rem;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
}
.club-name {
    width: 100%;
    font-size: 2rem;
}
.link{
    color: #FA991C;
    font-weight: bold;
}
.link:hover {
    color:#032539;
}
.coordinator-name {
    color: #FBF3F2;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}
.club-description {
    color: #FBF3F2;
    margin: 10px;
    text-align: center;
}
.button {
    font-size: medium;
    font-weight: bold;
    color: #FBF3F2;
    background-color: #FA991C;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    text-align: center;
    padding: 5px;
}
.temp {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}