@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&family=Signika+Negative:wght@300&display=swap');

body{
    background: linear-gradient( #032539, #8ECAE6 ) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    padding:0;
}

.header{
    padding-bottom:10px;
    color: #FBF3F2;
    font-family: "Fjalla-One";
    font-weight: 1000;
    text-decoration: underline;
    margin-top: -100px;
   
   
}
.navbar ul{
    list-style-type: none;
    background-color: #FFB703;
    padding: 0;
    margin:0;
    overflow: hidden;
}
.navbar a{
    color:#FBF3F2;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 60px;
}
@media screen and (min-width:768px){ /*adjusted for websites*/
    .navbar a{
       padding: 15px 90px;
    }
     .clubhub-text{
        font-size: 50px ;
    }
    .fa-circle-nodes{
        font-size: 50px ;
    }
    
}
@media screen and(max-width:767px) { /*adjusted for mobile*/
    .navbar a{
        padding: 15px 20px;
        width: auto;
        white-space: nowrap;
    }
    .clubhub-text{
        font-size: 40px;
    }
    .fa-circle-nodes{
        font-size: 40px;
    }
    
}
.navbar{
    margin:0;
    padding:0;
    width:100%;
}
.navbar a:hover{
    background-color: #FA991C;

}
.navbar li{
    float: left;
}
div{
    align-items: center;
    margin-bottom:10px;
    z-index: 1;
}

label{
    font-family: 'Signika Negative';
    color: #032539;
    margin-right: 10px;
    flex: 1;
    background-color: #FFB703;
}


.rounded-input{
    border-radius: 10px;
    padding: 5px;
}



#createbutton{
    margin-top: 10px;
    background-color: #FA991C;
    font-family: 'Signika Negative';
    color:white;
    border-radius: 10px;
    z-index: 1;
   
    
}
#Description{
    height: 100px;
    width: 200px;
   
}

#backbox{
    width: 50%;
    height:50%;
    margin: 0 auto;
   border: 10px;
   padding: 50px;
   border-radius: 10px;
   position: relative;
   background-color: #FBF3F2;
  

}
.form-container{
    max-width: 400px;
    margin: 20px auto;
}

label{
    display : block;
   flex: 1;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    flex: 2;
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    border: none;
}
.input-wrapper{
    background-color: #FFB703;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:  5px;
}

.input-container {
    display: flex;
    align-items: center;
}
.input-container input[type="text"] {
    flex: 2;
    width: 100%; 
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}
.logo{
    position: absolute;
    top:0;
    left:0;
    margin: 20px;
    display: flex;
    align-items: center;
}
.clubhub-text{
    padding-top: 5px;
    color: #FBF3F2;
    
    margin-right: 10px;
    font-family: "Fjalla-One";
}

.fa-circle-nodes{
    color:#8ECAE6;
    
}

