@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&family=Signika+Negative:wght@300&display=swap');

*{
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(10, 1fr) ;
    grid-template-columns: repeat(10, 1fr);

}
#clubhub{
    grid-area: 3/1/5/11;
    font-family: "Fjalla One";
    font-size: 120px;
    color: #D9C4AF;
    justify-self: center;
}

#login, #signup{
    font-family: "Nobile";
    font-weight: 500;
    background-color: #D9C4AF;;
    color: white;
    border: 5px solid #BE8E8C;
    border-radius: 25px;
    height: 90px;
    font-size: 60px;
    width: 300px;
    justify-self: center;
    margin: 5px;
    box-shadow: -10px 10px 5px rgb(166, 166, 166);
    text-align: center;
    text-decoration: none;

}
#login{
    grid-area: 6/3/8/6;
}
#signup{
    grid-area: 6/6/8/9;
}
.fa-copyright, .fa-registered{
    font-size: 50px ;
    color: #BE8E8C;
    margin: 10px;
}
.fa-copyright{
    grid-area: 10/5/11/5;
    justify-self: end;
}
.fa-registered{
    grid-area: 10/6/11/6;
    justify-self: start;
}