@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&family=Signika+Negative:wght@300&display=swap');

*{
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(10, 1fr) ;
    grid-template-columns: repeat(10, 1fr);

}
#clubhub{
    grid-area: 3/1/5/11;
    font-family: "Fjalla One";
    font-size: 7.5rem;
    color: #FA991C ;
    justify-self: center;
}

#login, #signup{
    font-family: "Nobile";
    font-weight: 500;
    background-color: #1C768F;;
    color: white;
    border: .313rem solid #032539;
    border-radius: 4rem;
    height: 5.25rem;
    font-size: 3.75rem;
    width: 18.75rem;
    justify-self: center;
    margin: .313rem;
    box-shadow: -.625rem .625rem .313rem rgb(166, 166, 166);
    text-align: center;
    text-decoration: none;

}
#login{
    grid-area: 6/3/8/6;
}
#signup{
    grid-area: 6/6/8/9;
}
.fa-copyright, .fa-registered{
    font-size: 3.125rem ;
    color: #FA991C ;
    margin: .625rem;
}
.fa-copyright{
    grid-area: 10/5/11/5;
    justify-self: end;
}
.fa-registered{
    grid-area: 10/6/11/6;
    justify-self: start;
}
.fa-circle-nodes{
    color: #032539;
    font-size: 100px;
    padding-left: 20px;
    transition: transform 300ms ease-in-out;
   
}
.fa-circle-nodes:hover{
    transform: rotate(45deg);

}