
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        html,body{
            height: 100%;
        }


        main{
            display: flex;
            height: 100%;
            justify-content: space-between;
        }

        .navbar{
            height: 7px;
            padding: 25px;
            background-color: black;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .navbar a{
            color: white;
            text-decoration: none;
            font-family: Signika Negative;
            font-size: 1em;

        }


        .sidenavbar{
            width: 200px;
            height: 100%;
            padding: 20px;
            background-color: #032539;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }


        .content{
            height: 100%;
            flex: 1;
        }


        .discrete {
            border: none;
            font-size: 20px;
            background-color: #032539;
            color: white;
        }


        .discrete:hover {
            border: none;
            font-size: 20px;
            background-color: #032539;
            color: black;
        }


        .button {
            border: 3px solid white;
            font-family: Signika Negative;
            font-size: 1.25em;
            background-color: #FA991C;
            color: white;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

        }


        .button:hover {
            border: 3px solid black;
            font-family: Signika Negative;
            font-size: 1.25em;
            background-color: #FA991C;
            color: white;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }


        h1 {
            font-family: Nobile;
            text-align: center;
            font-size: 4em;
            color: #FA991C;
        }


        h2{
            font-family: Signika Negative;
            font-size: 1.75em;
        }


        p{
            font-size: 1em;
            font-family: Signika Negative;
        }


        .mail{
        display: flex;
        justify-content: space-between;
        clear: both;
        background-color: #1C768F;
        color: white;
        margin: auto;
        padding: 10px;
        width : 500px;
        }


        .left {
            order: 1;
        }


        .right {
            order: 2;
        }
