<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubHub</title>
    <link href="staticFiles\main.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>




    <!-- SIDE NAVBAR -->
    <nav class = sidenavbar>
        <ul>
             <a class = "discrete" href="/UpdateProfile">Update Profile</a>
        </ul>
    </nav>


    <!-- MAIN STUFF -->
    <div class="content">

    <!-- NAVBAR -->
    <ul class = navbar>
        <a href="/clubs_display">Clubs</a>
        <a href="/EventMain">Events</a>
        <a href="/ClubInbox">Inbox</a>
        <a href="/Profile">Profile</a>
        <a class="logout-button" href="/logout">Logout</a>
    </ul>

        <!-- TITLE -->
        <h1>Profile</h1>

        <!-- Profile -->
        <div class="profile">

            <div class="left">

                <h2>{{ details[0] }} {{details[1]}}</h2>

                <p>@{{details[2]}}</p>
                <br>
                <br>
                <p>Email: {{details[4]}}</p>
                <p>Phone Number: (+353){{details[3]}}</p>
                <br>
                <br>
                <p>Club:</p>
                    {% if not clubMembership %}
                        <p>Not a member of any clubs</p>
                    {% else %}
                        {% for club in clubMembership %}
                            <p>{{ club }}</p>
                        {% endfor %}
                    {% endif %}
            </div>



        </div>

    </div>


</main>
</body>
</html>

