<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubHub</title>
    <link href="staticFiles\main.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>




    <!-- SIDE NAVBAR -->
    <nav class = sidenavbar>
        <ul>
             <a class = "discrete" href="/UpdateProfile">Update Profile</a>
        </ul>
    </nav>


    <!-- MAIN STUFF -->
    <div class="content">

    <!-- NAVBAR -->
    <ul class = navbar>
        <a href="/clubs_display">Clubs</a>
        <a href="/EventMain">Events</a>
        <a href="/Inbox">Inbox</a>
        <a href="/Profile">Profile</a>
    </ul>

        <!-- TITLE -->
        <h1>Profile</h1>

        <!-- Profile -->
        <div class="updatedprofile">

            <div class="left">

                <form action="/changeDetails" method="post">
                    <form action="/changeFirstname" method="post">
                        <p><input type="text" placeholder="Firstname" id="firstname" name="Firstname" minlength="2" maxlength="30" required></p>
                        <input type="submit" value="Save changes" class="button">
                    </form>

                    <form action="/changeLastname" method="post">
                        <p><input type="text" placeholder="Lastname" id="lastname" name="Lastname" minlength="2" maxlength="30" required></p>
                        <input type="submit" value="Save changes" class="button">
                    </form>

                    <form action="/changeUsername" method="post">
                        <p><input type="text" placeholder="Username" id="username" name="Username" minlength="8" maxlength="20" required></p>
                        <input type="submit" value="Save changes" class="button">
                    </form>

                    <form action="/changeEmail" method="post">
                        <p><input type="text" placeholder="Email" id="email" name="Email" minlength="8" maxlength="30" required></p>
                        <input type="submit" value="Save changes" class="button">
                    </form>

                    <form action="/changePhoneNumber" method="post">
                        <p><input type="text" placeholder="Phone Number" id="phoneNum" name="Contact_number" minlength="10" maxlength="10" required></p>
                        <input type="submit" value="Save changes" class="button">
                    </form>
                </form>

                <br>
                <br>
                <p>Club:</p>
                    {% if not clubMembership %}
                        <p>Not a member of any clubs</p>
                    {% else %}
                        {% for club in clubMembership %}
                            <p>{{ club }}</p>
                        {% endfor %}
                    {% endif %}
            </div>

            <div class="right">

                <a type="button" class="button" href="/Profile" onclick="alert('Aborted')">Discard changes</a>
                <br>
                <br>
                <a type="button" class="button" href="/Profile" onclick="alert('Profile details updated')">Save changes</a>


            </div>



        </div>

    </div>


</main>
</body>
</html>

