<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubHub</title>
    <link href="staticFiles\main.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>




    <!-- SIDE NAVBAR -->
    <nav class = sidenavbar>
        <ul>
             <a class = "discrete" href="/UpdateProfile">Update Profile</a>
        </ul>
    </nav>


    <!-- MAIN STUFF -->
    <div class="content">

    <!-- NAVBAR -->
    <ul class = navbar>
        <a href="/clubs_display">Clubs</a>
        <a href="/EventMain">Events</a>
        <a href="/ClubInbox">Inbox</a>
        <a href="/Profile">Profile</a>
        <a class="logout-button" href="/logout">Logout</a>
    </ul>

        <!-- TITLE -->
        <h1>Profile</h1>

        <!-- Profile -->
        <div class="updatedprofile">

            <div class="left">

                    <form action="/changename" method="POST">
                        <p><input type="text" placeholder="Firstname" id="firstname" name="newvalue" minlength="2" maxlength="30" required></p>
                        <button type="submit" name="column" value="Firstname" class="button"> Save changes</button>
                    </form>

                    <form action="/changename" method="POST">
                        <p><input type="text" placeholder="Lastname" id="lastname" name="newvalue" minlength="2" maxlength="30" required></p>
                        <button type="submit" name="column" value="Lastname" class="button">Save changes</button>
                    </form>

                    <form action="/changeUsername" method="POST">
                        <p><input type="text" placeholder="Username" id="username" name="newvalue" minlength="8" maxlength="20" required></p>
                        <button type="submit" name="column" value="Username" class="button">Save changes</button>
                    </form>

                    <form action="/changeEmail" method="POST">
                        <p><input type="text" placeholder="Email" id="email" name="newvalue" minlength="8" maxlength="30" required></p>
                        <button type="submit" name="column" value="Email" class="button">Save changes</button>
                    </form>

                    <form action="/changePhoneNumber" method="POST">
                        <p><input type="text" placeholder="Phone Number" id="phoneNum" name="newvalue" minlength="10" maxlength="10" required></p>
                        <button type="submit" name="column" value="Contact_number" class="button">Save changes</button>
                    </form>

                <br>
                <br>
                <p>Club:</p>
                    {% if not clubMembership %}
                        <p>Not a member of any clubs</p>
                    {% else %}
                        {% for club in clubMembership %}
                            <p>{{ club }}</p>
                        {% endfor %}
                    {% endif %}
            </div>

            <div class="right">

                <a type="button" class="button" href="/Profile" onclick="alert('Aborted')">Discard changes</a>
                <br>
                <br>


            </div>



        </div>

    </div>


</main>
</body>
</html>

